<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="css/styles.css">
  <script>
    function registerUser(event) {
      event.preventDefault(); // Impede o envio do formulário

      // Cria um objeto FormData para capturar os dados do formulário
      let formData = new FormData(event.target);

      // Envia os dados para a API via Fetch
      fetch('/api/auth/register', {
        method: 'POST',
        body: formData
      })
              .then(response => {
                // Verifique a resposta do servidor
                console.log(response); // Adiciona o log para verificar a resposta da API
                if (response.ok) {
                  // Quando a resposta for bem-sucedida
                  return response.text(); // Pegue o texto de resposta
                } else {
                  // Em caso de erro, mostra o erro
                  return response.text().then(text => { throw new Error(text); });
                }
              })
              .then(data => {
                console.log(data); // Exibe a mensagem de sucesso da resposta
                alert('Usuário registrado com sucesso! Você será redirecionado para o login.');
                // Após o sucesso, redireciona para a página de login
                window.location.href = '/login';  // Redireciona para a página de login
              })
              .catch(error => {
                alert('Erro: ' + error.message);
              });
    }
  </script>
</head>
<body>
<div class="register-container">
  <h2>Cadastro de Usuário</h2>
  <form onsubmit="registerUser(event)">
    <div class="input-group">
      <label for="username">Nome de Usuário:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="input-group">
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Cadastrar</button>
  </form>
</div>
</body>
</html>
